<?xml version="1.0" encoding="utf-8"?>
<WinComponent xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
              xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <Order>225</Order>
    <EntranceType>YuLinTu.Component.PadDataHandle.Entrance</EntranceType>
    <EntrancePath>.\Components\YuLinTu.Component.PadDataHandle\Binary\YuLinTu.Component.PadDataHandle.dll</EntrancePath>
	<IsSystemManaged>true</IsSystemManaged>
	<IsApplicationDependency>false</IsApplicationDependency>
	<IsConnected>true</IsConnected>
	<IsEnabled>true</IsEnabled>
</WinComponent>