<?xml version="1.0" encoding="utf-8"?>
<WinComponent xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <Order>122</Order>
    <EntranceType>YuLinTu.Components.tGIS.Properties.ApplicationContext</EntranceType>
    <EntrancePath>.\Components\YuLinTu.Components.tGIS.Properties\Binary\YuLinTu.Components.tGIS.Properties.dll</EntrancePath>
</WinComponent>