*.rej 
*.swp
.DS_Store
*.obj
*.bin
*.suo
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
.vs/
Workspace/
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*/
*.pdb
*.cache
.svn/
packages/
*.zip
*.rar
/Worker/AppSettings.config
