<?xml version="1.0" encoding="utf-8"?>
<WinComponent xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <Order>125</Order>
    <EntranceType>YuLinTu.Appwork.Plugins.ApplicationContext</EntranceType>
    <EntrancePath>.\Components\YuLinTu.Appwork.Plugins\Binary\YuLinTu.Appwork.Plugins.dll</EntrancePath>
</WinComponent>