<?xml version="1.0" encoding="utf-8"?>
<WinComponent xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
              xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <Order>99999999</Order>
    <EntranceType>YuLinTu.Appwork.MdiTabControl.Entrance</EntranceType>
    <EntrancePath>.\Components\YuLinTu.Appwork.MdiTabControl\Binary\YuLinTu.Appwork.MdiTabControl.dll</EntrancePath>
</WinComponent>