<?xml version="1.0" encoding="utf-8"?>
<WinComponent xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
              xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <Order>130</Order>
    <EntranceType>YuLinTu.Appwork.Apps.Extensions.ApplicationContext</EntranceType>
    <EntrancePath>.\Components\YuLinTu.Appwork.Apps.Extensions\Binary\YuLinTu.Appwork.Apps.Extensions.dll</EntrancePath>
    <IsSystemManaged>false</IsSystemManaged>
</WinComponent>