<?xml version="1.0" encoding="utf-8"?>
<WinComponent xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
              xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <Order>90</Order>
    <EntranceType>YuLinTu.Appwork.WorkpageInstaller.Entrance</EntranceType>
    <EntrancePath>.\Components\YuLinTu.Appwork.WorkpageInstaller\Binary\YuLinTu.Appwork.WorkpageInstaller.dll</EntrancePath>
</WinComponent>