<?xml version="1.0" encoding="utf-8"?>
<WinComponent xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
              xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <Order>50</Order>
    <Name>工作页消息查看器</Name>
    <Catalog>辅助插件</Catalog>
    <ImageUri>pack://application:,,,/YuLinTu.Resources;component/Images/32/FileDocumentInspect.png</ImageUri>
    <Version>6.7.2.1</Version>
    <Author>鱼鳞图公司</Author>
    <Description>在工作页界面中的下侧边栏上，增加一个消息查看器，用于查看当前工作页中的消息信息。</Description>
    <EntranceType>YuLinTu.Appwork.WorkpageMessageViewer.Entrance</EntranceType>
    <EntrancePath>.\Components\YuLinTu.Appwork.WorkpageMessageViewer\Binary\YuLinTu.Appwork.WorkpageMessageViewer.dll</EntrancePath>
    <IsSystemManaged>false</IsSystemManaged>
    <IsApplicationDependency>false</IsApplicationDependency>
    <IsConnected>true</IsConnected>
    <IsEnabled>false</IsEnabled>
</WinComponent>