<?xml version="1.0" encoding="utf-8"?>
<WinComponent xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <Order>120</Order>
    <EntranceType>YuLinTu.Components.tGIS.Topology.ApplicationContext</EntranceType>
    <EntrancePath>.\Components\YuLinTu.Components.tGIS.Topology\Binary\YuLinTu.Components.tGIS.Topology.dll</EntrancePath>
</WinComponent>