<?xml version="1.0" encoding="utf-8"?>
<WinComponent xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Order>102</Order>
  <Name>状态栏进度控制</Name>
  <Catalog>辅助插件</Catalog>
  <ImageUri>pack://application:,,,/YuLinTu.Resources;component/Images/32/ShowSchedulingPage.png</ImageUri>
  <Version>6.8.0.1</Version>
  <Author>鱼鳞图公司</Author>
  <Description>在 Windows 任务栏图标上显示出程序的工作进度。Windows 7 及以上版本支持。</Description>
  <EntranceType>YuLinTu.Appwork.BusyStatus.ApplicationContext</EntranceType>
  <EntrancePath>D:\WorkSpace\WinFoundation\Workspace\.\Components\YuLinTu.Appwork.BusyStatus\Binary\YuLinTu.Appwork.BusyStatus.dll</EntrancePath>
  <IsSystemManaged>false</IsSystemManaged>
  <IsApplicationDependency>false</IsApplicationDependency>
  <IsConnected>true</IsConnected>
  <IsEnabled>true</IsEnabled>
</WinComponent>