<?xml version="1.0" encoding="utf-8"?>
<WinComponent xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
              xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Order>305</Order>
  <Name>广西宁明插件</Name>
  <Catalog>系统插件</Catalog>
  <ImageUri>pack://application:,,,/YuLinTu.Resources;component/Images/32/Publish32.png</ImageUri>
  <Version>8.2.1.0328</Version>
  <Author>鱼鳞图</Author>
  <Description>广西宁明相关功能</Description>
  <EntranceType>YuLinTu.Component.NingMing.Entrance</EntranceType>
  <EntrancePath>.\Components\YuLinTu.Component.NingMing\Binary\YuLinTu.Component.NingMing.dll</EntrancePath>
  <IsSystemManaged>false</IsSystemManaged>
  <IsApplicationDependency>false</IsApplicationDependency>
  <IsConnected>true</IsConnected>
  <IsEnabled>false</IsEnabled>
</WinComponent>