<?xml version="1.0" encoding="utf-8"?>
<WinComponent xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
              xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Order>129</Order>
  <EntranceType>YuLinTu.Component.ContractAccount.Entrance</EntranceType>
  <EntrancePath>.\Components\YuLinTu.Component.ContractAccount\Binary\YuLinTu.Component.ContractAccount.dll</EntrancePath>
</WinComponent>
