<?xml version="1.0" encoding="utf-8"?>
<WinComponent xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
              xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <Order>6</Order>
    <EntranceType>YuLinTu.Appwork.SystemSettings.Entrance</EntranceType>
    <EntrancePath>.\Components\YuLinTu.Appwork.SystemSettings\Binary\YuLinTu.Appwork.SystemSettings.dll</EntrancePath>
</WinComponent>