<?xml version="1.0" encoding="utf-8"?>
<WinComponent xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
              xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <Order>199</Order>
    <EntranceType>YuLinTu.Component.Setting.Entrance</EntranceType>
    <EntrancePath>.\Components\YuLinTu.Component.Setting\Binary\YuLinTu.Component.Setting.dll</EntrancePath>
</WinComponent>