<?xml version="1.0" encoding="utf-8"?>
<WinComponent xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <Order>118</Order>
    <EntranceType>YuLinTu.Components.tGIS.ApplicationContext</EntranceType>
    <EntrancePath>.\Components\YuLinTu.Components.tGIS\Binary\YuLinTu.Components.tGIS.dll</EntrancePath>
    <IsApplicationDependency>true</IsApplicationDependency>
</WinComponent>