<?xml version="1.0" encoding="utf-8"?>
<WinComponent xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
              xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Order>128</Order>
  <EntranceType>YuLinTu.Component.DataCheckerTask.Entrance</EntranceType>
  <EntrancePath>.\Components\YuLinTu.Component.DataCheckerTask\Binary\YuLinTu.Component.DataCheckerTask.dll</EntrancePath>
</WinComponent>