<?xml version="1.0" encoding="utf-8"?>
<ArrayOfKeyValueOfStringObject xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <KeyValueOfStringObject>
    <Key>WindowState</Key>
    <Value xsi:type="ArrayOfKeyValueOfStringObject">
      <KeyValueOfStringObject>
        <Key>_Ver_</Key>
        <Value xsi:type="xsd:dateTime">0001-01-01T00:00:00</Value>
      </KeyValueOfStringObject>
      <KeyValueOfStringObject>
        <Key>LastWindowState</Key>
        <Value xsi:type="xsd:int">2</Value>
      </KeyValueOfStringObject>
    </Value>
  </KeyValueOfStringObject>
  <KeyValueOfStringObject>
    <Key>SyncUserPortraitPulseTime</Key>
    <Value xsi:type="xsd:int">60000</Value>
  </KeyValueOfStringObject>
  <KeyValueOfStringObject>
    <Key>DefaultSecurityService</Key>
    <Value xsi:type="xsd:string">http://192.168.2.4:7000/SecurityQuery.svc</Value>
  </KeyValueOfStringObject>
</ArrayOfKeyValueOfStringObject>