<?xml version="1.0" encoding="utf-8"?>
<WinComponent xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
              xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <Order>100</Order>
    <EntranceType>YuLinTu.Appwork.New.Entrance</EntranceType>
    <EntrancePath>.\Components\YuLinTu.Appwork.New\Binary\YuLinTu.Appwork.New.dll</EntrancePath>
</WinComponent>