<?xml version="1.0" encoding="utf-8"?>
<WinComponent xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
              xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <Order>125</Order>
    <EntranceType>YuLinTu.Appwork.Theme.Entrance</EntranceType>
    <EntrancePath>.\Components\YuLinTu.Appwork.Theme\Binary\YuLinTu.Appwork.Theme.dll</EntrancePath>
</WinComponent>