<?xml version="1.0" encoding="utf-8"?>
<WinComponent xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
              xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <Order>110</Order>
    <EntranceType>YuLinTu.Appwork.Workflow.Sample.Entrance</EntranceType>
    <EntrancePath>.\Components\YuLinTu.Appwork.Workflow.Sample\Binary\YuLinTu.Appwork.Workflow.Sample.dll</EntrancePath>
</WinComponent>