<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="providerSettings" type="YuLinTu.Data.ProviderSettings, YuLinTu.Data" />
		<section name="dataSourceSettings" type="YuLinTu.Data.DataSourceSettings, YuLinTu.Data" />
		<section name="queryCommandSettings" type="YuLinTu.Data.Dynamic.QueryCommandSettings, YuLinTu.Data.Dynamic" />
		<section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
	</configSections>
	<providerSettings>
		<providers>
			<add name="Common.SqlServer" type="YuLinTu.Data.SqlServer.ProviderDbCSQLServer, YuLinTu.Data.SqlServer">
			</add>
			<add name="Common.OleDb" type="YuLinTu.Data.OleDb.ProviderDbCOle, YuLinTu.Data.OleDb">
			</add>
			<add name="Common.Access" type="YuLinTu.Data.OleDb.ProviderDbCAccess, YuLinTu.Data.OleDb">
			</add>
			<add name="Common.SQLite" type="YuLinTu.Data.SQLite.ProviderDbCSQLite, YuLinTu.Data.SQLite">
			</add>
			<add name="Common.Shapefile" type="YuLinTu.Data.Shapefile.ProviderShapefile, YuLinTu.Data.Shapefile">
			</add>
			<add name="Spatial.Raster" type="YuLinTu.Spatial.Raster.ProviderRaster, YuLinTu.Spatial.Raster">
			</add>
			<add name="File.Rtk.Point" type="YuLinTu.tGIS.ProviderRtkPointTextFile, YuLinTu.tGIS">
			</add>
			<!--<add name="CompareResult.Result" type="YuLinTu.Library.CompareResult.ProviderResultFolder, YuLinTu.Library.CompareResult">
          </add>-->
			<add name="Common.Postgis" type="YuLinTu.Data.PostgreSQL.ProviderDbCPostgis, YuLinTu.Data.PostgreSQL">
			</add>
		</providers>
	</providerSettings>
	<dataSourceSettings>
		<dataSources>
			<add name="Common.SqlServer" type="YuLinTu.Data.DbContext, YuLinTu.Data">
			</add>
			<add name="Common.OleDb" type="YuLinTu.Data.DbContext, YuLinTu.Data">
			</add>
			<add name="Common.Access" type="YuLinTu.Data.DbContext, YuLinTu.Data">
			</add>
			<add name="Common.SQLite" type="YuLinTu.Data.DbContext, YuLinTu.Data">
			</add>
			<add name="Common.Shapefile" type="YuLinTu.Data.DbContext, YuLinTu.Data">
			</add>
			<add name="Spatial.Raster" type="YuLinTu.Spatial.Raster.RasterContext, YuLinTu.Spatial.Raster">
			</add>
			<add name="File.Rtk.Point" type="YuLinTu.tGIS.RtkPointTextFileContext, YuLinTu.tGIS">
			</add>
			<add name="Common.Postgis" type="YuLinTu.Data.DbContext, YuLinTu.Data">
			</add>
			<!--<add name="CompareResult.Result" type="YuLinTu.Library.CompareResult.ResultFolderContext, YuLinTu.Library.CompareResult">
          </add>-->
		</dataSources>
	</dataSourceSettings>
	<queryCommandSettings>
		<queryCommands>
			<add typeSource="YuLinTu.Data.DbContext, YuLinTu.Data" type="YuLinTu.Data.Dynamic.QueryCommandDbContext, YuLinTu.Data.Dynamic">
			</add>
		</queryCommands>
	</queryCommandSettings>
	<appSettings configSource="AppSettings.config">
	</appSettings>
	<connectionStrings configSource="ConnectionStrings.config">
	</connectionStrings>
	<unity configSource="Unity.config">
	</unity>
	<system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding name="basicHttpBinding" maxBufferSize="2147483647" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" sendTimeout="00:20:00">
					<readerQuotas maxDepth="2147483647" maxArrayLength="2147483647" maxStringContentLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
				</binding>
			</basicHttpBinding>
		</bindings>
		<client>
			<endpoint name="MinistryOfAgriDataExchangeService" address="http://localhost:8061/ArgiDataService.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpBinding" contract="YuLinTu.PropertyRight.Services.IMinistryOfAgriDataExchangeService" />
		</client>
	</system.serviceModel>
	<runtime>
		<loadFromRemoteSources enabled="true" />
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<probing privatePath="Libraries\libs;Libraries\x86\Spatialite;Libraries\x86\GDAL;Libraries\x86\Exchange;Libraries\x86\Quality;Libraries\x86\Thought"></probing>
			<qualifyAssembly partialName="GeoAPI" fullName="GeoAPI, Version=1.7.4.0, Culture=neutral, PublicKeyToken=a1a0da7def465678" />
			<dependentAssembly>
				<assemblyIdentity name="ICSharpCode.SharpZipLib" publicKeyToken="1b03e6acf1164f73" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.3.3.11" newVersion="1.3.3.11" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Npgsql" publicKeyToken="5d8b90d52f46fda7" culture="neutral" />
				<bindingRedirect oldVersion="3.2.5.0-4.0.12.0" newVersion="4.0.13.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
	</startup>
</configuration>