<?xml version="1.0"?>
<appSettings>
	<add key="DefaultAllowAccessOnMainThread"
		   value="true" />
	<add key="DefaultLockConnectionString"
		   value="false" />
	<add key="SQLiteGeoSourceLockWhenForeach"
		   value="false" />
	<add key="AllowAccessOnMainThreadButtonVisible"
		   value="Collapsed" />
	<add key="MdiTabRestoreType"
		   value="LastAll" />
	<add key="MdiStyle"
		   value="Chrome" />
	<add key="OptionsButtonInInformationBarVisibility"
		   value="Visible" />
	<add key="DefaultSecurityDataSourceName"
		   value="DbSource.WorkflowPersist" />

	<add key="TrackingApplicationMessage"
		   value="false" />
	<add key="AuthenticateWhenAppStarting"
		   value="true" />
	<add key="ServiceSecurityModeSecurity"
		   value="TransportWithMessageCredential" />

	<add key="DefaultSQLiteConnectionOutTime"
		   value="00:00:10" />

	<add key="DefaultSystemService"  value="http://192.168.12.182:8081" />
	<add key="DefaultSecurityService"
		   value="http://dev.yizhangtu.com:9552" />
	<add key="DefaultBusinessSecurityAddress"
		   value='http://192.168.2.4:1860/SSO/Access/AuthOnLogin?app=YuLinTu&amp;user=' />
	<add key="DefaultBusinessDataAddress"
		   value="http://192.168.2.4:1862/CLRegistrationService.svc" />

	<!-- 在线授权账户系统地址 -->
	<add key="DefaultAccountOnlineService" value="https://103.203.217.30:11682" />

	<!-- 在线授权中心地址 -->
	<add key="DefaultLicensesService" value="https://103.203.217.30:11682" />

	<!--<add key="DefaultDocumentType"
         value="YuLinTu.Components.tGIS.MapPage, YuLinTu.Components.tGIS" />-->
	<!--<add key="DefaultDocumentType"
       value="YuLinTu.Appwork.Task.TaskPage" />-->
	<!--<add key="DefaultDocumentType"
       value="YuLinTu.Component.Map.MapPage" />-->

	<add key="DefaultWorkflowPersistDataSourceName"
		   value="DbSource.WorkflowPersist" />
	<!--<add key="DefaultNewDocumentType"
     value="YuLinTu.Appwork.Task.TaskPage" />
  <add key="DefaultTaskNavigatorToolbarVisibility"
       value="Collapsed" />-->
	<!--<add key="DefaultNewDocumentType"
     value=" YuLinTu.Component.Map.MapPage" />-->
	<!--<add key="DefaultTaskNavigatorToolbarVisibility"
       value="Collapsed" />-->
	<add key="ProbeNetwork"
		   value="false" />
	<!--<add key="DefaultRootZone" value="510115105" />-->
	<add key="DefaultRootZone"
		   value="510115105" />

	<add key="FirstRun"
		   value="true" />

	<add key="EnableTokenInstaller"
		   value="true" />
	<add key="EnableTokenAuthenticate"
		   value="false" />
	<add key ="MdbProviderString"
		   value="Microsoft.Jet.OLEDB.4.0" />
	<add key="EqualsWhenWKIDisZero"
			   value="true" />
	<!--<add key="SpatialReferenceAlwaysEquals"
       value="true" />-->
	<add key="DefaultDataSourceName" value="Source.SQLite" />
	<add key="DefaultPrintSQL" value="true" />
	<add key="VolumeValue"
		   value="2.0" />
	<add key="IsStandCode"
		   value="true" />
	<add key="UseZoneCode" value="false" />
	<add key="LandMapNumber" value="8,8,8,8,8,8,8,8,8,8" />
	<add key="TaskMaxDisplayAlertCount"
		   value="2000000" />
	<add key="SplitNumber"
		   value="1400000|6000000|2000000" />
	<add key="DefaultGuidFormat"
		   value="D" />
	<!--  N(不带花括号和横杆),D(不带花括号和带横杆),B(带花括号和带横杆),P(带小括号和带横杆)  -->
	<add key="{0549161E-761D-4ADE-8A00-00123AE5A808}" value="{B940DC28-FBEF-4905-9E27-FF59E839F7AC}" />
	<add key="TreatmentKey" value="57f90f07-66a9-46bd-96f2-61143e01365a"/>
	<add key="TreatmentUrl" value="http://www.scgis.net:8282/DrillingPlatformAPI/API/CrsTrans/Trans2CK_Multi"/>
</appSettings>