<?xml version="1.0"?>
<appSettings>
  <add key="DefaultAllowAccessOnMainThread"
       value="true" />
  <add key="DefaultLockConnectionString"
       value="false" />
  <add key="SQLiteGeoSourceLockWhenForeach"
       value="false" />
  <add key="AllowAccessOnMainThreadButtonVisible"
       value="Collapsed" />
  <add key="MdiTabRestoreType"
       value="LastAll" />
  <add key="MdiStyle"
       value="Chrome" />
  <add key="OptionsButtonInInformationBarVisibility"
       value="Visible" />
  <add key="DefaultSecurityDataSourceName"
       value="DbSource.WorkflowPersist" />
  <add key="DefaultDataSourceName"
       value="SourceSQLite" />

  <add key="TrackingApplicationMessage"
       value="false" />
  <add key="AuthenticateWhenAppStarting"
       value="true" />
  <add key="ServiceSecurityModeSecurity"
       value="TransportWithMessageCredential" />

  <add key="DefaultSQLiteConnectionOutTime"
       value="00:00:10" />

  <add key="DefaultSecurityService"
       value="http://192.168.2.4:7000/SecurityQuery.svc" />
  <add key="DefaultBusinessSecurityAddress"
       value='http://192.168.2.4:1860/SSO/Access/AuthOnLogin?app=YuLinTu&amp;user=' />
  <add key="DefaultBusinessDataAddress"
       value="http://192.168.2.4:1862/CLRegistrationService.svc" />
  <!--<add key="DefaultDocumentType"
         value="YuLinTu.Components.tGIS.MapPage, YuLinTu.Components.tGIS" />-->
  <!--<add key="DefaultDocumentType"
       value="YuLinTu.Appwork.Task.TaskPage" />-->
  <!--<add key="DefaultDocumentType"
       value="YuLinTu.Component.Map.MapPage" />-->

  <add key="DefaultWorkflowPersistDataSourceName"
       value="DbSource.WorkflowPersist" />
  <!--<add key="DefaultNewDocumentType"
     value="YuLinTu.Appwork.Task.TaskPage" />
  <add key="DefaultTaskNavigatorToolbarVisibility"
       value="Collapsed" />-->
  <!--<add key="DefaultNewDocumentType"
     value=" YuLinTu.Component.Map.MapPage" />-->
  <!--<add key="DefaultTaskNavigatorToolbarVisibility"
       value="Collapsed" />-->
  <add key="ProbeNetwork"
       value="false" />
  <!--<add key="DefaultRootZone" value="510115105" />-->
  <add key="DefaultRootZone"
       value="510115105" />

  <add key="FirstRun"
       value="true" />

  <add key="EnableTokenInstaller"
       value="true" />
  <add key="EnableTokenAuthenticate"
       value="false" />
  <add key ="MdbProviderString"
       value="Microsoft.Jet.OLEDB.4.0" />
  <add key="EqualsWhenWKIDisZero"
           value="true" />
  <!--<add key="SpatialReferenceAlwaysEquals"
       value="true" />-->

  <add key="VolumeValue"
       value="2.0" />
  <add key="IsStandCode"
       value="true" />
  <add key="LandMapNumber" value="8,8,8,8,8,8,8,8,8,8" />
  <add key="TaskMaxDisplayAlertCount"
       value="2000000" />
  <add key="SplitNumber"
       value="1400000|6000000|2000000" />
</appSettings>