<?xml version="1.0"?>
<connectionStrings>
    <remove name="LocalSqlServer"/>
    <!--<add name="SourceSQLite"
         connectionString="Data Source=E:\工作项目\svn\Workspace\YuLinTuDatabase.sqlite"
         providerName="Common.SQLite" />-->

	<!--<add name="Source.SQLite"
			   connectionString="Data Source=E:\项目资料\2.承包地业务\1.成都市数据整合\正式数据\青白江区.sqlite"
			   providerName="Common.SQLite" />-->
	<add name="Source.SQLite"
			   connectionString="Data Source=.\Data\DB\YuLinTuDatabase.sqlite;"
			   providerName="Common.SQLite" />
</connectionStrings>
